*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    padding:60px 8%;
    background:#0B1120;
    border-top:1px solid #1f2937;
    text-align:center;
}

.footer-links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:25px;

    list-style:none;
    padding:0;
}

.footer-links li{
    list-style:none;
}

.footer-logo span{
    color:#8B5CF6;
}

.footer-links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:25px;
}

.footer-links a{
    color:white;
    text-decoration:none;
}

.footer-links a:hover{
    color:#8B5CF6;
}

.footer-social{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-bottom:25px;
}

.footer-social a{
    color:#d1d5db;
    text-decoration:none;
}

.footer-social a:hover{
    color:#8B5CF6;
}

.copyright{
    color:#9ca3af;
    font-size:14px;
}

/* ========================= */
/* Tablet */
/* ========================= */

@media (max-width: 992px){

    .footer{
        padding:50px 6%;
    }

    .footer-links{
        gap:20px;
    }

    .footer-social{
        gap:20px;
    }

}

/* ========================= */
/* Mobile */
/* ========================= */

@media (max-width: 768px){

    .footer{
        padding:45px 5%;
    }

    .footer-logo{
        font-size:32px;
    }

    .footer-links{
        flex-wrap:wrap;
        gap:15px;
    }

    .footer-social{
        gap:18px;
    }

}

/* ========================= */
/* Small Mobile */
/* ========================= */

@media (max-width: 480px){

    .footer{
        padding:40px 4%;
    }

    .footer-logo{
        font-size:28px;
    }

    .footer-links{
        flex-direction:column;
        gap:12px;
        margin-bottom:20px;
    }

    .footer-links a{
        font-size:15px;
    }

    .footer-social{
        flex-wrap:wrap;
        gap:15px;
        margin-bottom:20px;
    }

    .footer-social a{
        font-size:14px;
    }

    .copyright{
        font-size:13px;
        line-height:22px;
    }

}